@import "../assets/general/variables.scss";

body {
  background-color: $white_color;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", arial;
  color: #283238;
  overflow-x: hidden;

  // Header
  header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;
    background-image: url('../assets/images/banner.png');

    .general-detail {
      padding: 3.5% 14.2%;
    }
  }

  .main-nav {
    float: right; 
    list-style: none;
    display: flex;
  
    li {
      padding: 0 10px;
    }
  
    a {
      color: #424949;
      font-size: Roboto-Regular;
      font-size: 12px;
      text-transform: uppercase;
    }
  
    .login-nav {
      border: 2px solid $green_color;
      border-radius: 20px;
      padding: 8px 17px;
      color: $green_color;
      letter-spacing: 1px;
      text-decoration: none;
    }
  }
  
  .heading-box {
    padding: 8% 0 13% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;

    img {
      width: 22%;
    }

    .row-promotion {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5%;
      width: 70%;
      text-align: center;
    }
  }

  .promo {
    .text-promo {
      font-size: 30px;
    }
  }
  
  .icon-promo {
    i {
      font-size: 50px;
    }
  } 
  
  .text-intro {
    margin: 4.5% 0 4% 0;
    font-size: 18px;
  }

  // Home Button General
  .btn-success {
    color: $white_color;
    background-image: linear-gradient(to right, #429321, #b4ec51);
    text-transform: uppercase;
    box-shadow: 1px 1px 2px 0px #666;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 10px 30px;
    border: 0;
    font-size: 16px;
    letter-spacing: 3px;
  }

  // Column Contents General
  .general-detail {
    padding: 5.5% 15%;

    .mb-tb-screen-open {
      display: none;
    }

    .title-section-mini {
      display: none;
    }

    .button-section-mini {
      display: none;
    }
  }

  .img-general {
    img {
      width: 100%;
      max-width: 100%;
      min-height: 390px;
    }
  }

  .text-general {
    max-width: 100%;
    height: 325px;
  }

  .title {
    i {
      font-size: 33px;
    }
    span {
      font-size: 50px;
      font-family: $text_font;
      font-weight: 300;
      color: #444444;
      margin-left: 15px;
      letter-spacing: 2px;
    }
  }

  .text-general {
    .quote-text {
      font-size: 14px;
      margin-top: 1%;
    }

    .content-text {
      font-size: 14px;
      text-align: justify;
      line-height: 26px;
      margin-top: 3%;
    }
  }

  .btn-useful {
    .btn-success {
      position: absolute;
      bottom: 0;
    }
  }

  // Member and Customer Content General
  .content-text {
    margin-top: 27px;
    
    .content-text-box {
      display: flex;
      margin-bottom: 10px;

      .check-icon {
        font-size: 12px;
        color: #8bc34a;
      }
    }

    .content-check-box {
      margin-left: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 27px;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    .between {
      margin: 4% 0;
    }
  }
  .quote-text {
    margin-top: 15px;
  }

  // Section Today
  .today {
    box-shadow: 3px 3px 15px #D7DBDD;
  }

  // Section Daily
  .daily {
    box-shadow: 3px 3px 15px #D7DBDD;
  }

  // Section Feature
  .feature {
    background: linear-gradient(to right, #429321, #b4ec51);

    .general-detail {
      padding: 4% 15%;
    }
  }
  
  .multi-row {
    .circle {
      .circle-icon {
        border: 2px solid $white_color;
        border-width: 2px;
        font-size: 30px;
        color: $white_color;
        width: 100px;
        height: 100px;
        padding: 25px;
        border-radius: 50%;
      }
      
      .circle-number {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 5px;
        background: #7cb342;
        border: 2px solid $white_color;
        color: $white_color;
        z-index: 1;
        margin: -18px 0 0 30px;
      }
    }
  
    .feature-text {
      color: $white_color;
      margin-top: 10px;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  
  .general-mb-dot {
    display: none;
  }

  // Section Members
  .members {
    box-shadow: 3px 3px 15px #D7DBDD;
  }

  // Section Customers
  .customer {
    box-shadow: -3px -3px 10px 0px #D7DBDD;
  }

  // Section Our Customers
  .our-customer {
    background-image: url('../assets/images/rectangle3.png');
  
    .general-detail {
      padding: 3% 15%;
    }
  }
  
  .tiltle-our-customer {
    text-align: center;
    color: $white_color;
    font-family: $text_font;
    font-size: 40px;
  }
  
  .avatar-slide {
    margin-top: 5%;
  }
  
  .avatar-customer {
    .img-avatar {
      img {
        width: 90%;
      }
    }
  }
  
  .avatar-content {
    color: $text_content_color;
    font-family: $text_font;
    font-size: 12px;
    margin-top: 15%;
  
    .position-user {
      font-size: 10px;
    }
  
    .first-name {
      display: none;
      color: white;
    }
  
    .last-name {
      display: none;
      color: white;
    }
  
    .full-name {
      color: white;
    }
  }
  
  .third-component {
    margin-top: -10%;
  
    .img-avatar {
      img {
        width: 110%;
        margin-left: -10%;
      }
    }
  }
  
  .dot-slide {
    text-align: center;
    margin-top: 1%;
  
    .dot-light {
      height: 10px;
      width: 10px;
      background-color: $white_color;
      border-radius: 50%;
      display: inline-block;
      margin: 0px 8px;
    }
    .dot {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 1px solid $white_color;
      display: inline-block;
      margin: 0px 8px;
    }
  }
  
  .quote-box-container {
    p {
      padding: 0 17%;
      text-align: justify;
      font-size: 15px;
      line-height: 28px;
      margin-top: 5%;
      color: $text_content_color;
    }
  
    i {
      font-size: 50px;
      color: $text_content_color;
    }
  
    .quote-start {
      float: left;
      margin-left: 9%;
      margin-top: -3%;
    }
  
    .quote-end {
      float: right;
      margin-right: 9%;
      margin-top: -4%;
    }
  }

  // Section Project
  .project {
    .general-detail {
      .tb-screen-open {
        display: none;
      }
      .tb-screen-close {
        display: block;
      }
    }
  }

  // Footer Part
  footer {
    background-color: #39474e;
    font-family: $text_font;
  }
  
  .general-detail {
    .img-footer {
      img {
        margin-left: 0;
        width: 85%;
      }
    }
  
    .copyright-footer {
      position: absolute;
      margin-left: 0;
      bottom: 2%;
  
      .copy-right {
        color: $text_content_color;
        font-size: 77%;
      }
    }
  
    .title-footer {
      text-transform: uppercase;
      margin-bottom: 57%;
      color: $green_color;
      font-size: 15px;
      margin-top: 5%;
      font-weight: 600;
    }
  
    .select-footer {
      position: absolute;
      margin-left: 0;
      bottom: 0;
      
      a {
        width: 100%;
        color: $text_content_color;
        font-size: 77%;
        line-height: 20px;
        text-decoration: none;
      }
    }
  
    .social-icon {
      color: $green_color;
      position: absolute;
      bottom: 0;
      right: 9%;
      font-size: 14px;
    }
  
    .copyright-extra {
      display: none;
    }
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }
  // Responsive
  @import "../assets/responsive_section/_responsive.scss";
}
