@media only screen and (max-width: 1200px){
  // header 
  header {
  background-image: url('../assets/images/recbanner.jpg');
  height: 45vh;
  }

  .main-nav {
    padding: 30px 4% 0 0;
  }

  .heading-box {
    margin-top: 4%;
  }

  img {
    width: 18%;
  }

  .row-promotion {
    margin-top: 6%;
  }

  .text-promo {
    font-size: 25px;
  }

  .icon-promo {
      font-size: 25px;
  }

  .middle {
    padding: 0 90px;
  }

  .text-intro {
    margin: 3% 0 20px 0;
  }

  .btn-success {
    margin-top: 2%;
  }

  // Our Customer 
  .our-customer {
    .general-detail {
      padding: 7% 0;
    }
  }

  .tiltle-our-customer {
    font-size: 30px;
  }

  .avatar-slide {
    margin-top: 6%;
  }

  .avatar-customer {
    .img-avatar {
      img {
        width: 83%;
      }
    }
  }

  .avatar-content {
    font-size: 14px;
    margin-top: 15%;

    .position-user {
      font-size: 11px;
    }

    .first-name {
      display: block;
    }

    .last-name {
      display: block;
    }

    .full-name {
      display: none;
    }
  }

  .screen-tb-off {
    display: none;
  }

  .third-component {
    .img-avatar {
      img {
        width: 100%;
      }
    }
  }

  .dot-slide {
    margin-top: 3%;
  }

  .quote-box-container {
    p {
      padding: 0 7%;
      font-size: 100%;
      font-family: $text_font;
      line-height: 35px;
      margin-top: 7%;
    }

    i {
      font-size: 60px;
    }

    .quote-start {
      text-align: left;
      margin-left: 0;
      margin-top: -9.3%;
    }

    .quote-end {
      text-align: right;
      margin-right: 0;
      margin-top: -7%;
    }
  }

  // Project Section
  .project {
    .general-detail {
      .tb-screen-open {
        display: block;
      }
      .tb-screen-close {
        display: none;
      }
    }
  }

  // Footer
  .general-detail {
    .img-footer {
      img {
        width: 95%;
      }
    }

    .copyright-footer {
      .copy-right {
        font-size: 12px;
      }
    }

    .title-footer {
      font-size: 12px;
      margin-bottom: 77%;
    }

    .select-footer {
      a {
        font-size: 12px;
      }
    }

    .social-icon {
      padding-top: 80%;

      i {
        font-size: 77%;
      }
    }
  }

  // Column Contents General 
  .general-detail {
    padding: 8% 1%;

    .title-section-mini {
      display: block;
      text-align: center;
      margin-bottom: 4%;
    }

    .title {
      i {
        font-size: 21px;
      }
      
      span {
        font-size: 35px;
        color: #444444;
        margin-left: 15px;
        letter-spacing: 2px;
      }
    }
    .quote-text {
      margin-top: 2%;
    }

    .button-section-mini {
      display: block;
      text-align: center;
      margin-top: 7%;
      margin-bottom: 3%;
    }
    // start to convert
    .img-general {
      img {
        max-width: 100%;
        min-height: 315px;
      }
    }
  
    .text-general {
      max-width: 100%;
      height: 315px;

      .title {
        display: none;
      }
      .quote-text {
        display: none;
      }
      .content-text {
        font-size: 90%;
        text-align: justify;
        line-height: 26px;
        margin-top: 0%;
      }
      .btn-useful {
        display: none;
      }
    }
  }

  // Member and Customer Content General
  .content-text {
    margin-top: 0px;

    .content-text-box {
      margin-bottom: 7%;
    }

    .content-check-box {
      line-height: 29px;
      -webkit-line-clamp: 3;
    }
  }
}

@media only screen and (max-width: 767px){
  // header
  header {
  background-image: url('../assets/images/recbanner.jpg');
  height: 37vh;
  }

  .main-nav {
    padding: 4% 4% 0 0;
  
    a {
      font-size: 11px;
      font-family: $text_font;
      font-weight: bold;
    }
  }

  .heading-box {
    margin-top: 3px;
    margin-left: 10px;
  }

  img {
    width: 25%;
  }

  .row-promotion {
    margin-top: 3%;
  }

  .text-promo {
    font-size: 1px;
  }

  .icon-promo {
    i {
      font-size: 20px;
    }
  }

  .text-intro {
    margin: 4% 0 2% 0;
    font-size: 8px;
  }

  .middle {
    padding: 0 70px;
  }

  // Feature Section
  .general-detail {
    padding: 10% 0;

    .screen-mobile {
      display: none;
    }

    .general-mb-dot {
      display: block;
    }

    .dot-slide {
      text-align: center;
      margin-top: 5%;

      .dot-light {
        height: 8px;
        width: 8px;
        background-color: $white_color;
        border-radius: 50%;
        display: inline-block;
        margin: 0 8px;
      }

      .dot {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        border: 1px solid $white_color;
        display: inline-block;
        margin: 0 8px;
      }
    }
  }
  
  // Customer Section 
  .customer {
    display: none;
  } 

  // Our Customer Section
  .our-customer { 
    .avatar-slide {
      margin-top: 10%;
    }
  }

  .screen-mb-off {
    display: none;
  }

  .our-customer { 
    .quote-box-container {
      padding: 7% 2%;

      p {
        padding: 0;
        font-size: 14px;
        line-height: 25px;
        margin: 3% 0 7% 0;
      }

      i {
        font-size: 50px;
      }

      .quote-start {
        text-align: left;
        margin-left: 0;
        margin-top: -13%;
      }

      .quote-end {
        text-align: right;
        margin-right: 0%;
      }
    }

    .dot-slide {
      margin: 5% 0 3% 0;
  
      .dot-light {
        height: 10px;
        width: 10px;
      }
      
      .dot {
        height: 10px;
        width: 10px;
      }
    }
  }

  // Project Section
  .project {
    .general-detail {
      .tb-screen-open {
        display: none;
      }
      .tb-screen-close {
        display: block;
      }

      .img-general {
        img {
          margin-bottom: 0%;
        }
      }
    }
  }

  // Footer
  footer {
    .general-detail {
      .img-footer {
        margin-bottom: 7%;
        max-width: 20%;
      }
      
      span {
        font-size: 10px;
      }
        
      .copyright-footer {
        display: none;
      }

      .title-footer {
        font-size: 9.5px;
        margin-bottom: 90%;
      }

      .social-footer {
        display: flex;
        flex-direction: row;
        margin-top: 7%;
      }
    }
  }

  .general-detail {
    .copyright-extra {
      display: block;
      font-size: 11px;
      text-align: right;
      padding-right: 0;
      color: $text_content_color;
      width: 73%;

      p {
        margin-right: -4px;
      }
    }

    .social-icon {
      padding-top: 0;
      padding-left: 0;
      margin-left: -2px;
      width: 27%;

      i {
        font-size: 11px;
      }
    }
  }

  // Column Content General
  .general-detail {
    padding: 8% 1%;

    .title-section-mini {
      display: block;
      text-align: center;
      margin-bottom: 5%;
    }

    .title {
      i {
        font-size: 21px;
      }
      
      span {
        font-size: 30px;
        color: #444444;
        margin-left: 15px;
        letter-spacing: 2px;
      }
    }

    .quote-text {
      margin-top: 3%;
      font-size: 11px;
    }

    .button-section-mini {
      display: block;
      text-align: center;
      margin-top: 6%;
      margin-bottom: 6%;
    }

    // start to convert
    .img-general {
      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 4%;
      }
    }
  
    .text-general {
      max-width: 100%;
      height: auto;
      margin-bottom: 4%;
      
      .title {
        display: none;
      }
      .quote-text {
        display: none;
      }
      .content-text {
        font-size: 13px;
        text-align: justify;
        line-height: 20px;
        margin-top: 0%;
      }
      .btn-useful {
        display: none;
      }
    }
  }

  // Member and Customer Content General
  .content-text {
    margin-top: 0px;

    .content-check-box {
      line-height: 24px;
      -webkit-line-clamp: 3;
    }
  }

  // Button home
  .btn-success {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 8px 25px;
    font-size: 15px;
  }
}
